* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: aqua;
    color: white;
    height: 8%;
}

.logo img {
    width: 100%; /* Take full width of the parent */
    max-width: 75px; /* Limit the maximum width */
    height: auto; /* Maintain aspect ratio */
}
 
nav {
    position: relative;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ff6347; /* Tomato color */
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    
}

.menu-toggle .bar {
    height: 10px;
    width: 25px;
    background-color: pink;
    margin: 4px 0;
}

/* Responsive Styles */
@media (max-width: 1080px) {
    header{
        height: 5%;
    }
   
    .menu {
        display: none;
        flex-direction: column;
        
        background-color: pink;
        width: 100%;
    }

    .menu li {
        padding: 10px 0;
        
    }

    nav ul li a {
        color: white; /* Text color for menu items */
        text-decoration: none; /* Remove underline from links */
        padding: 10px 15px; /* Padding around the links */
        
    }

    .menu.active {
        display: flex;
        
    }

    .menu-toggle {
        display: flex;
        
    }
   
    .logo img {
        width: 100%; /* Take full width of the parent */
        max-width: 75px; /* Limit the maximum width */
        height: auto; /* Maintain aspect ratio */
    }
}
